In [1]:
import numpy as np
import pandas as pd

In [19]:
df = pd.read_csv("training_diabetes_x_y_train.csv")

In [20]:
df.head()

,# age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Y
0,-0.049105,-0.044642,0.160855,-0.046985,-0.029088,-0.019790,-0.047082,0.034309,0.028017,0.011349,346.0
1,-0.070900,0.050680,-0.089197,-0.074528,-0.042848,-0.025739,-0.032356,-0.002592,-0.012908,-0.054925,104.0
2,0.001751,-0.044642,-0.070875,-0.022885,-0.001569,-0.001001,0.026550,-0.039493,-0.022512,0.007207,49.0
3,0.048974,0.050680,0.081097,0.021872,0.043837,0.064134,-0.054446,0.071210,0.032433,0.048628,180.0
4,0.041708,0.050680,0.061696,-0.040099,-0.013953,0.006202,-0.028674,-0.002592,-0.014956,0.011349,110.0

In [21]:
df.shape

(331, 11)

In [22]:
X = df.iloc[:,:-1]

In [23]:
X.shape

(331, 10)

In [31]:
y = df['Y']

In [32]:
y.shape

(331,)

In [33]:
from sklearn.linear_model import LinearRegression

In [34]:
lm = LinearRegression()

In [35]:
lm.fit(X, y)

LinearRegression()

In [36]:
print(lm.coef_)

[  21.73408096 -256.66866675  569.60940087  303.63233545 -833.11088526
  525.74313633  136.07129167  140.89458927  731.44498492   53.32119133]

In [37]:
print(lm.intercept_)

150.702574894566

In [39]:
X_test = pd.read_csv("test_diabetes_x_test.csv")

In [40]:
X_test.head()

,0.02354575262934580082,0.05068011873981870252,-0.03746250427835440266,-0.04698505887976939938,-0.09100589560328480043,-0.07553006287033779687,-0.03235593223976569732,-0.03949338287409189657,-0.03075120986455629965,-0.01350401824497050006
0,-0.078165,-0.044642,-0.073030,-0.057314,-0.084126,-0.074277,-0.024993,-0.039493,-0.018118,-0.083920
1,-0.030942,0.050680,0.001339,-0.005671,0.064477,0.049416,-0.047082,0.108111,0.083797,0.003064
2,-0.005515,0.050680,0.001339,-0.084857,-0.011201,-0.016658,0.048640,-0.039493,-0.041180,-0.088062
3,-0.020045,-0.044642,-0.084886,-0.026328,-0.035968,-0.034194,0.041277,-0.051671,-0.082381,-0.046641
4,-0.034575,-0.044642,-0.037463,-0.060757,0.020446,0.043466,-0.013948,-0.002592,-0.030751,-0.071494

In [45]:
X_test.shape

(110, 10)

In [41]:
predictions = lm.predict(X_test)

C:\Users\Home\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- -0.01350401824497050006
- -0.03075120986455629965
- -0.03235593223976569732
- -0.03746250427835440266
- -0.03949338287409189657
- ...
Feature names seen at fit time, yet now missing:
- # age
- bmi
- bp
- s1
- s2
- ...

  warnings.warn(message, FutureWarning)

In [42]:
predictions

array([105.8039198 , 178.60857225,  79.3828781 ,  52.95868706,
        98.87263854, 150.71755448,  34.86515216, 113.13535727,
       161.50184038, 135.8615611 ,  94.71592222, 138.48094422,
       141.37441723, 158.76862662, 171.65288616, 106.44835654,
       103.92659639,  95.38693889, 167.40118092, 166.53426278,
       101.53464712, 252.45035972, 147.02258547, 214.78906632,
       161.27557106, 210.61315228,  71.78091585, 189.65032431,
       206.6134259 , 219.98643455, 168.80192534, 116.84846127,
       178.74399639,  77.03247418,  59.54633214, 111.5673781 ,
       156.95186739, 154.59591259, 198.94457493, 115.53884017,
       153.46699024,  84.96179518, 113.70337192, 142.14155617,
       147.31040378,  82.78072358,  77.89237327, 128.99006192,
       261.58712282, 213.31187775, 243.98791257, 167.68132094,
       183.69712124, 166.85926884, 202.11440188, 220.39235543,
       172.40288024, 176.60897931, 109.04656567, 276.37789836,
        90.99941821, 289.37221147, 119.56253351,  75.45687948,
       180.78598759, 146.62093081, 156.42382465,  41.079036  ,
       247.90645166, 207.99121432,  90.09641075, 222.24169638,
       189.86378006, 182.2695376 , 164.39881376, 190.27066587,
       105.4486795 , 199.86136394, 245.796388  , 123.20281334,
       119.41031908, 145.86620411, 206.19247291, 150.86282453,
       142.23221646, 154.56874616, 115.29233396, 134.07810123,
       118.42225404, 203.5767555 , 170.66483797, 127.409797  ,
        57.13507634, 231.92226503, 185.20713654, 187.37494558,
        83.55920849, 185.42585685, 217.34035639, 108.86715354,
        80.98714568, 127.05524123, 242.00738792, 155.9723414 ,
       125.67575276, 246.41235643, 234.963933  , 191.51298252,
       168.33254477, 163.02965178])

In [49]:
predictions.shape

(110,)

In [53]:
np.savetxt("predictions_diabetes_CN.csv", predictions, delimiter=",", fmt="%.5f")